body, #root {
  margin: 0;
  padding: 0;
}

/*
  HEADER
*/
.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40px;
}
.App-header {
  background-color: #282c34;
  min-height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  text-align: center;
}
.App-header h1 {
  font-size: calc(20px + 1vmin);
  margin: 10px 0;
}
.App nav ul {
  text-align: center;
  padding: 0;
  background: #484c54;
  margin-top: 0;
}
.App nav ul li {
  list-style: none;
  display: inline-block;
  padding: 10px 20px;
}
.App nav ul li a {
  text-decoration: none;
  color: #DDD;
  font-size: calc(8px + 1vmin);
}
.App nav ul li a:hover {
  color: #FFF;
  text-shadow: 3px 2px 3px rgba(255,255,255,.3);
}
.App nav ul li a.active {
  color: #EEE;
  text-decoration: underline;
}

/*
  Pages
*/
.App h2 {
  font-size: calc(17px + 1vmin);
  text-align: center;
  margin-top: 0;
}
.App .content {
  padding: 10px 20px;
}

/*
  Dashboard
*/
.App .content svg {
  max-width: 100%;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
