body, #root {
  margin: 0;
  padding: 0;
}

/*
  HEADER
*/
.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40px;
}
.App-header {
  background: #282c34;
  min-height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  text-align: center;
}
.App-header h1 {
  font-size: calc(20px + 1vmin);
  margin: 10px 0;
}
.App nav ul {
  text-align: center;
  padding: 0;
  background: #484c54;
  margin-top: 0;
}
.App nav ul li {
  list-style: none;
  display: inline-block;
  padding: 10px 20px;
}
.App nav ul li a {
  text-decoration: none;
  color: #DDD;
  font-size: calc(8px + 1vmin);
}
.App nav ul li a:hover {
  color: #FFF;
  text-shadow: 3px 2px 3px rgba(255,255,255,.3);
}
.App nav ul li a.active {
  color: #EEE;
  text-decoration: underline;
}

/*
  Pages
*/
.App h2 {
  font-size: calc(17px + 1vmin);
  text-align: center;
  margin-top: 0;
}
.App .content {
  padding: 10px 20px;
}
.App .content button, .App .content input[type="submit"] {
  border: none;
  background: #282c34;
  color: #FFF;
  border-radius: 5px;
  padding: 8px 10px;
  cursor: pointer;
}


/*
  Dashboard
*/
.App .content svg {
  max-width: 100%;
}

/*
  Table
*/
.App table {
  width: 100%;
  border-spacing: unset;
  border-collapse: collapse;
}
.App table th, .App table td {
  padding: 5px 10px;
  font-size: calc(7px + 1vmin);
}
.App table th {
  background: #DDD;
  font-weight: normal;
  text-transform: uppercase;
}
.App table td {
  border-bottom: 1px solid #AAA;
}
.App table tr:hover {
  background: #F3F3F3;
}
.App table img {
  max-width: 70px;
}
.App .filters input {
  display: inline-block;
}
.App .filters input[type="text"] {
  width: calc(30% - 10px);
  margin: 5px;
}
.App .filters input[type="submit"] {
  width: calc(10% - 12px);
  margin: 5px;
}
.App .filters input:first-child {
  margin-left: 0;
}
.App .filters input:last-child {
  margin-right: 0;
}

/*
  FORM
*/
.App .defaults {
  margin: 5px auto;
  max-width: 500px;
}
.App .defaults > label, .App .defaults input[type="text"], .App .defaults input[type="date"], .App .defaults > div  {
  font-size: calc(7px + 1vmin);
  display: inline-block;
  padding: 10px 5px;
  margin: 5px 0;
  border: none;
}
.App .defaults > label {
  width: calc(30% - 10px);
}
.App .defaults input:disabled {
  background: #F3F3F3;
}
.App .defaults input[type="text"], .App .defaults input[type="date"], .App .defaults > div {
  width: calc(70% - 10px);
}
.App .defaults input[type="text"], .App .defaults input[type="date"] {
  box-shadow: inset 0px -1px 0px 0px rgba(0,0,0,0.5);
}
.App .defaults > div label {
  display: inline-block;
  width: 33%;
}
.App .defaults > div label input {
  margin-left: 0;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/*
  Margin
*/
.m-t-30 { margin-top: 30px; }